{{# each shoppingProducts}}
    Products!!
    {{/each}}



<div class="row">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.bollywoodlife.com/wp-content/uploads/2016/08/Kareena.jpg" alt="Card image cap" class="img-responsive">
        <div class="card-body thumbnail">
            <h5 class="card-title text-centre-align">Product</h5>
            <p class="card-text"> make up the bulk of the card's content.</p>
            <div class="row">
                <p class="price margin-top-10" padding-10>$15</p>
                <p><a href="#" class="btn btn-success margin-left-110 padding-10">Add To The Cart</a></p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.bollywoodlife.com/wp-content/uploads/2016/08/Kareena.jpg" alt="Card image cap" class="img-responsive">
        <div class="card-body thumbnail">
            <h5 class="card-title text-centre-align">Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="clearfix row">
                <p class="price margin-top-10" padding-10>$15</p>
                <p><a href="#" class="btn btn-success margin-left-110 padding-10">Add To The Cart</a></p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.bollywoodlife.com/wp-content/uploads/2016/08/Kareena.jpg" alt="Card image cap" class="img-responsive">
        <div class="card-body thumbnail">
            <h5 class="card-title text-centre-align">Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="clearfix row">
                <p class="price margin-top-10" padding-10>$15</p>
                <p><a href="#" class="btn btn-success margin-left-110 padding-10">Add To The Cart</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.bollywoodlife.com/wp-content/uploads/2016/08/Kareena.jpg" alt="Card image cap" class="img-responsive">
        <div class="card-body thumbnail">
            <h5 class="card-title text-centre-align">Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="clearfix row">
                <p class="price margin-top-10" padding-10>$15</p>
                <p><a href="#" class="btn btn-success margin-left-110 padding-10">Add To The Cart</a></p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.bollywoodlife.com/wp-content/uploads/2016/08/Kareena.jpg" alt="Card image cap" class="img-responsive">
        <div class="card-body thumbnail">
            <h5 class="card-title text-centre-align">Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="clearfix row">
                <p class="price margin-top-10" padding-10>$15</p>
                <p><a href="#" class="btn btn-success margin-left-110 padding-10">Add To The Cart</a></p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.bollywoodlife.com/wp-content/uploads/2016/08/Kareena.jpg" alt="Card image cap" class="img-responsive">
        <div class="card-body thumbnail">
            <h5 class="card-title text-centre-align">Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="clearfix row">
                <p class="price margin-top-10" padding-10>$15</p>
                <p><a href="#" class="btn btn-success margin-left-110 padding-10">Add To The Cart</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.bollywoodlife.com/wp-content/uploads/2016/08/Kareena.jpg" alt="Card image cap" class="img-responsive">
        <div class="card-body thumbnail">
            <h5 class="card-title text-centre-align">Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="clearfix row">
                <p class="price margin-top-10" padding-10>$15</p>
                <p><a href="#" class="btn btn-success margin-left-110 padding-10">Add To The Cart</a></p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.bollywoodlife.com/wp-content/uploads/2016/08/Kareena.jpg" alt="Card image cap" class="img-responsive">
        <div class="card-body thumbnail">
            <h5 class="card-title text-centre-align">Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="clearfix row">
                <p class="price margin-top-10" padding-10>$15</p>
                <p><a href="#" class="btn btn-success margin-left-110 padding-10">Add To The Cart</a></p>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.bollywoodlife.com/wp-content/uploads/2016/08/Kareena.jpg" alt="Card image cap" class="img-responsive">
        <div class="card-body thumbnail">
            <h5 class="card-title text-centre-align">Product</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="clearfix row">
                <p class="price margin-top-10" padding-10>$15</p>
                <p><a href="#" class="btn btn-success margin-left-110 padding-10">Add To The Cart</a></p>
            </div>
        </div>
    </div>
</div>
